<app-header></app-header>

<div
  class=""
  style="background-image: linear-gradient(115deg, #e9e6f0, #52527d)"
>
  <!-- hero content  -->
  <div class="p-10 flex w-full h-[300px] md:h-[700px]">
    <div
      class="flex flex-col justify-center items-center w-full rounded-lg bg-cover bg-no-repeat"
      style="
        background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      "
    >
      <p
        class="capitalize text-2xl md:text-5xl p-2 md:p-10 text-white font-semibold"
      >
        your complete booking partner is here
      </p>
      <div class="flex gap-5">
        <button
          routerLink="register"
          class="md:w-28 w-20 h-10 bg-blue-500/50 hover:bg-blue-500 text-white font-medium capitalize rounded"
        >
          sign up
        </button>
        <button
          routerLink="signin"
          class="md:w-28 w-20 h-10 bg-blue-500/50 hover:bg-blue-500 text-white font-medium capitalize rounded"
        >
          sign in
        </button>
      </div>
    </div>
  </div>

  <!-- hero content two (offfering functionalities) -->
  <div class="pt-5 capitalize text-center">
    <p class="text-2xl font-medium">what we are offering</p>
  </div>
  <div class="flex flex-col min-h-full p-10">
    <!-- first section  -->
    <div class="md:flex w-full rounded-lg p-5 h-full px-5 bg-black/80 mt-10">
      <div
        class="w-full flex md:text-8xl font-bold md:mt-32 text-white capitalize justify-center items-center bg-cover bg-no-repeat bg-center rounded-md md:ml-5 mx-auto h-28 md:min-h-[300px]"
        style="
          background-image: url('https://images.unsplash.com/photo-1534238754819-d8e4470ce7cc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        "
      >
        book your buses
      </div>
      <div
        class="w-full text-white font-mono hidden md:flex capitalize justify-center p-10"
      >
        <p class="text-lg">
          Experience seamless travel planning with our user-friendly website,
          where we offer hassle-free bus booking services to destinations far
          and wide. Whether you're embarking on a spontaneous getaway or
          meticulously planning your next adventure, our platform provides a
          convenient and efficient solution to all your travel needs. With a
          vast network of bus operators and routes, you can effortlessly browse
          schedules, compare prices, and secure your seats with just a few
          clicks.
          <span class="hidden md:flex">
            Say goodbye to long queues and last-minute rushes – our intuitive
            interface ensures a smooth booking process from start to finish.
            Trust us to be your ultimate travel companion, committed to
            providing reliable service and unparalleled convenience every step
            of the way. Plan your journey with ease and let us take you where
            you need to go.</span
          >
        </p>
      </div>
    </div>

    <!-- second section -->
    <div
      class="md:flex bg-black/80 rounded-lg w-full h-full px-5 md:p-10 mt-10"
    >
      <div
        class="w-full text-white font-mono hidden md:flex capitalize justify-center p-0"
      >
        <p class="text-lg">
          Step into the world of entertainment with ease by utilizing our
          website's seamless movie ticket booking service. Say goodbye to the
          hassle of standing in long queues or facing sold-out shows – our
          platform allows you to effortlessly browse through the latest movie
          listings, select your preferred showtimes, and reserve your tickets in
          advance, all from the comfort of your home. Whether you're craving the
          thrill of a blockbuster action flick, the laughter of a comedy, or the
          suspense of a thriller, our extensive range of movies ensures there's
          something for everyone. With secure payment options and instant
          confirmations, you can sit back, relax, and anticipate an
          unforgettable cinematic experience. Trust us to be your go-to
          destination for all your movie-going needs, where convenience meets
          excitement at every click. Let us enhance your movie-going experience
          and make every visit to the theater a memorable one.
        </p>
      </div>
      <div
        class="w-full flex md:text-8xl font-bold md:mt-32 text-white capitalize justify-center items-center bg-cover bg-no-repeat bg-center rounded-md md:ml-5 mx-auto h-28 md:min-h-[300px]"
        style="
          background-image: url('https://plus.unsplash.com/premium_photo-1683133290577-f1b47c4b8c05?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        "
      >
        see the latest movies
      </div>
    </div>
  </div>

  <!-- team scroll right -->
  <div class="capitalize w-full">
    <p class="text-2xl font-medium text-center">meet our team</p>
    <div
      class="flex p-5 w-full justify-center md:justify-end text-white font-medium"
    >
      swipe right to see more ->
    </div>

    <!-- horizontal-scroll.component.html -->
    <div class="flex overflow-x-auto scroll-container p-4 py-10">
      <div *ngFor="let item of items">
        <div
          class="flex-shrink-0 w-64 h-64 bg-white flex flex-col justify-end rounded-full shadow-md mx-10 py-10 bg-cover bg-no-repeat"
          style="
            background-image: url('https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          "
        ></div>
        <div
          class="flex flex-col justify-center text-xl text-white items-center"
        >
          <p>{{ item.title }}</p>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- add some collapse content  -->
  <div class="p-10 text-white">
    <div
      class="flex flex-col justify-center space-y-5 bg-black/50 items-center p-5 md:px-28 w-full"
    >
      <details class="w-full">
        <summary class="font-medium capitalize text-xl">summary</summary>
        <p
          class="bg-red-400/40 text-center p-5 rounded my-5 text-white capitalize"
        >
          BookEase is a comprehensive booking application that revolutionizes
          the way you plan and manage your travel and leisure activities. With
          BookEase, booking flights, hotels, rental cars, events, and more has
          never been easier. Our intuitive interface and powerful search
          functionality empower you to browse a vast array of options, compare
          prices, and secure your reservations with just a few clicks. Whether
          you're jet-setting around the globe or exploring your own backyard,
          BookEase provides you with seamless access to a world of
          possibilities. Say goodbye to the hassle of coordinating multiple
          bookings across different platforms – BookEase brings everything you
          need together in one convenient location. Simplify your booking
          experience and unlock endless possibilities with BookEase today!
        </p>
      </details>
      <details class="w-full">
        <summary class="font-medium capitalize text-xl">about us</summary>
        <p
          id="aboutUs"
          class="bg-blue-400/40 text-center p-5 rounded my-5 text-white capitalize"
        >
          Welcome to BookEase, where we're passionate about making your travel
          and leisure experiences as seamless and enjoyable as possible. At
          BookEase, we understand the excitement and anticipation that come with
          planning your next adventure, whether it's a weekend getaway or a
          once-in-a-lifetime journey. Our mission is to empower you with the
          tools and resources you need to explore the world on your terms, all
          while providing unparalleled convenience and peace of mind. With years
          of industry expertise and a dedication to customer satisfaction, the
          BookEase team is committed to delivering a user-friendly platform that
          meets your every need. From booking flights and accommodations to
          discovering local attractions and events, we're here to help you
          create unforgettable memories wherever your travels take you. At
          BookEase, we pride ourselves on our attention to detail, reliability,
          and commitment to excellence. We strive to exceed your expectations at
          every turn, offering personalized recommendations, secure payment
          processing, and responsive customer support to ensure your journey is
          smooth from start to finish. Whether you're a seasoned traveler or
          embarking on your very first adventure.
        </p>
      </details>
      <details class="w-full">
        <summary class="font-medium capitalize text-xl">contact us</summary>
        <div
          id="contactUs"
          class="flex justify-center items-center bg-green-400/40 text-center p-5 rounded my-5 text-white capitalize"
        >
          <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Contact Us</div>
              <p class="text-gray-700 text-base">
                Have questions or need assistance? Reach out to our friendly
                support team. We're here to help!
              </p>
            </div>
            <div class="px-6 py-4">
              <p class="text-gray-700 font-semibold">Email:</p>
              <p class="text-gray-700 text-base">support$bookease.com</p>
            </div>
            <div class="px-6 py-4">
              <p class="text-gray-700 font-semibold">Phone:</p>
              <p class="text-gray-700 text-base">1-800-BOOK-EASE</p>
            </div>
            <div class="px-6 py-4">
              <p class="text-gray-700 font-semibold">Address:</p>
              <p class="text-gray-700 text-base">
                123 Travel Street, Suite 101<br />Cityville, State, ZIP
              </p>
            </div>
          </div>
        </div>
      </details>
    </div>
  </div>
</div>
<app-footer></app-footer>
