<div class="min-h-[250px] bg-white/10">
  <div class="flex capitalize min-h-[250px] flex-wrap w-full justify-around">
    <ul>
      <p class="py-10 font-medium">we are offering</p>
      <li>bus booking</li>
      <li>movie booking</li>
    </ul>
    <ul>
      <p class="py-10  font-medium">contact</p>
      <li>booknow23gmail.com</li>
      <li>no:245/ck</li>
      <li>chennai</li>
      <li>tamilnadu</li>
      <li>india</li>
    </ul>
    <ul>
      <p class="py-10 font-medium">social</p>
      <li>linkedIn</li>
      <li>instagram</li>
      <li>whats app</li>
      <li>twiter</li>
    </ul>
    <ul>
      <p class="py-10 font-medium">language</p>
      <li>USA</li>
      <li>French</li>
      <li>japanies</li>
      <li>hindi</li>
      <li>German</li>
    </ul>
  </div>
</div>
