<div
  class="min-h-screen flex justify-center items-center"
  style="background-image: linear-gradient(115deg, #e9e6f0, #52527d)"
>
  <div class="container mx-auto">
    <div
      class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden"
    >
      <div
        class="w-full text-3xl font-bold text-yellow-400 lg:w-1/2 flex flex-col items-center justify-center p-12 bg-no-repeat bg-cover bg-center"
        style="
          background-image: url('https://images.unsplash.com/photo-1528493216645-608f76c087f8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        "
      >
        <h1 class="font-medium text-3xl mb-3">LOG IN NOW</h1>
        <div
          class="bg-blue-500/50 p-5 rounded flex flex-col justify-center items-center"
        >
          <p class="font-medium text-xl text-white capitalize font-serif">
            instantly book the tickets , avoid the rush
          </p>
          <button
            class="text-white bg-black/50 flex justify-center text-lg p-2 rounded font-semibold hover:cursor-pointer capitalize"
            routerLink="/register"
          >
            sign up
          </button>
        </div>
      </div>
      <div class="w-full lg:w-1/2 py-16 px-12">
        
        <form>
          
          
          <div class="mt-5">
            <input type="text" placeholder="Email" class="border border-gray-400 py-1 px-2 w-full">
          </div>
          
          
          <div class="mt-5">
            <input type="password" placeholder="Password" class="border border-gray-400 py-1 px-2 w-full">
          </div>
          
          
          <div class="mt-5 flex gap-5">
            <button class="w-full rounded bg-purple-500 py-3 text-center text-white">Log in</button>
            <button class="bg-blue-500 hover:bg-blue-700 w-28 text-white font-bold py-2 px-4 rounded flex items-center" style="background-image: url('https://images.unsplash.com/photo-1572059002053-8cc5ad2f4a38?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center;">
            </button>
          </div>

        </form>
        <div class="mt-2  flex flex-wrap justify-around">
          <p class="capitalize">forget password ? <span class="text-blue-400 cursor-pointer" routerLink="/forgetpassword">click here</span></p>
          <p class="capitalize text-blue-500 cursor-pointer" routerLink="/register">create account ?</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
